@model PlatformEducationWorkers.Core.Models.User

@{
    ViewData["Title"] = "Credentials";
    if (ViewBag.UserRole == PlatformEducationWorkers.Core.Models.Role.Admin.ToString())
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.UserRole == PlatformEducationWorkers.Core.Models.Role.Workers.ToString())
    {
        Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    }
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-primary text-white">
            <h2>Обліковий запис</h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Ім'я:</strong> @Model.Name</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Прізвище:</strong> @Model.Surname</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Дата народження:</strong> @Model.Birthday.ToShortDateString()</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Логін:</strong> @Model.Login</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Email:</strong> @Model.Email</p>
                </div>
                <div class="col-md-6">
                    <p>
                        <strong>Роль:</strong>
                        <span class="badge bg-info text-dark">@Model.Role</span>
                    </p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <p><strong>Дата створення:</strong> @Model.DateCreate.ToShortDateString()</p>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a asp-action="EditCredentials" class="btn btn-warning btn-lg">
                <i class="bi bi-pencil"></i> Редагувати логін та пароль
            </a>
        </div>

    </div>
    <div class="card shadow-lg">
        @if (Model.JobTitle.Name == "Owner")
        {
            <div class="card-header bg-danger text-white text-center">
                <h2>Delete Enterprise</h2>
            </div>
            <div class="card-body">
                <p class="text-warning">Are you sure you want to delete this enterprise? This action cannot be undone.</p>

                <form asp-action="DeleteEnterprice" asp-controller="Main" asp-area="Administrator" method="post">
                    <button type="submit" class="btn btn-danger btn-lg" onclick="return confirm('Are you sure you want to delete this enterprise?');">
                        <i class="bi bi-trash"></i> Delete Enterprise
                    </button>
                </form>

            </div>
        }
       
    </div>
</div>
