@model PlatformEducationWorkers.Core.Models.User

@{
    ViewData["Title"] = "Creadentials";
    if (ViewBag.UserRole == PlatformEducationWorkers.Core.Models.Role.Admin.ToString())
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.UserRole == PlatformEducationWorkers.Core.Models.Role.Workers.ToString())
    {
        Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    }
}
<h2>Обліковий запис</h2>
<p><strong>Ім'я:</strong> @Model.Name</p>
<p><strong>Прізвище:</strong> @Model.Surname</p>
<p><strong>Дата народження:</strong> @Model.Birthday.ToShortDateString()</p>
<p><strong>Логін:</strong> @Model.Login</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Роль:</strong> @Model.Role</p>
<p><strong>Дата створення:</strong> @Model.DateCreate.ToShortDateString()</p>

<a asp-action="EditCredentials" class="btn btn-warning">Редагувати логін та пароль</a>
