<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlatformEducationWorkers</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PlatformEducationWorkers.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom-worker-styles.css" asp-append-version="true" />
   
</head>
<body>
    <div class="main-content">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
                <div class="container">
                    <a class="navbar-brand" asp-area="Worker" asp-controller="MainWorker" asp-action="MainWorker">
                        @ViewData["CompanyName"]
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-lg-flex justify-content-lg-between">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Worker" asp-controller="MainWorker" asp-action="MainWorker">Головна</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Worker" asp-controller="Courses" asp-action="UncompleteCourses">Не пройдені курси</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Worker" asp-controller="Courses" asp-action="StatisticCourses">Результати</a>
                            </li>
                            <div class="nav-item d-flex align-items-center">
                                <a asp-controller="Login" asp-action="Logout" class="btn p-0">
                                    <img src="/Sourses/Exit.png" alt="Exit" class="navbar-icon-exit">
                                </a>

                                <a asp-controller="Account" asp-action="Credentials" class="btn-avatar btn p-1">
                                    <img src="@ViewData["UserAvatar"]" alt="User Avatar" class="rounded-circle">
                                </a>

                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container mt-4">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="bg-dark text-white py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        &copy; 2024 PlatformEducationWorkers
                    </div>
                    <div class="col-md-6 text-md-end">
                      @*   <a href="@Url.Action("Privacy", "Home")" class="text-white">Privacy</a> *@
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

