@using PlatformEducationWorkers.Core.Models
@using PlatformEducationWorkers.Request.CourceRequest
@model CreateCourceRequest

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Створення курса";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2>Створення курса</h2>
        </div>
        <div class="card-body">
            <form asp-action="CreateCourse" method="post" enctype="multipart/form-data">
                @if (ViewData.ModelState.Values.Any(v => v.Errors.Count > 0))
                {
                    <div asp-validation-summary="All" class="alert alert-danger"></div>
                }

                <div class="mb-3">
                    <label asp-for="TitleCource" class="form-label"><strong>Назва курса</strong></label>
                    <input asp-for="TitleCource" class="form-control border-primary" placeholder="Введіть назву курса" />
                    <span asp-validation-for="TitleCource" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label"><strong>Описання курса</strong></label>
                    <textarea asp-for="Description" class="form-control border-primary" rows="3" placeholder="Введіть описання курса"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ContentCourse" class="form-label"><strong>Зміст курса</strong></label>
                    <textarea asp-for="ContentCourse" class="form-control border-primary" rows="5" placeholder="Введіть вміст курса"></textarea>
                    <span asp-validation-for="ContentCourse" class="text-danger"></span>
                </div>



                <div class="mb-3">
                    <label class="form-label"><strong>Доступні должності</strong></label>
                    <div class="border p-3 rounded">
                        @if ((ViewBag.JobTitles as List<PlatformEducationWorkers.Core.Models.JobTitle>)?.Count > 0)
                        {
                            @foreach (var jobTitle in (ViewBag.JobTitles as List<PlatformEducationWorkers.Core.Models.JobTitle>))
                            {
                                <div class="form-check">
                                    <input type="checkbox" name="AccessRoleIds[]" value="@jobTitle.Id" class="form-check-input" />
                                    <label class="form-check-label">@jobTitle.Name</label>
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-muted">Нема доступних должностей.</p>
                        }
                        <span asp-validation-for="AccessRoleIds" class="text-danger"></span>
                    </div>
                </div>


                <div id="questions-container" class="mb-4">
                    <h3 class="text-primary">Питання</h3>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="addQuestion()">
                        <i class="bi bi-plus-circle"></i> Додати питання
                    </button>
                    <span asp-validation-for="Questions" class="text-danger"></span>

                    @if (Model != null && Model.Questions != null && Model.Questions.Count > 0)
                    {
                        @for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            var question = Model.Questions[i];
                            <div class="border p-3 rounded mt-3">
                                <h4 class="text-secondary">Питання @(i + 1)</h4>
                                <input type="text" name="Questions[@i].Text" value="@question.Text" class="form-control mb-2" placeholder="Введіть питання" />
                                <div class="mb-3">
                                    <label><strong>Фото до питання</strong></label>
                                    <input type="file" onchange="convertAlreadyFileToBase64(this, 'Questions[@i].PhotoQuestionBase64')" class="form-control" />
                                    <input type="hidden" name="Questions[@i].PhotoQuestionBase64" value="@question.PhotoQuestionBase64" />
                                </div>

                                <div class="answers-container">
                                    <h5>Відповіді</h5>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="addAnswer(@i)">
                                        <i class="bi bi-plus-circle"></i> Додати відповідь
                                    </button>

                                    <div id="answers-@i" class="mt-2">
                                        @for (int j = 0; j < question.Answers.Count; j++)
                                        {
                                            var answer = question.Answers[j];
                                            <div class="border p-2 rounded mt-2">
                                                <div class="d-flex align-items-center gap-2">
                                                    <input type="text" name="Questions[@i].Answers[@j].Text" value="@answer.Text" class="form-control w-50" placeholder="Введіть відповідь" />
                                                    <input type="checkbox" name="Questions[@i].Answers[@j].IsCorrect" value="true" @(answer.IsCorrect ? "checked" : "") class="form-check-input" />
                                                    <label>Correct</label>
                                                    <button type="button" class="btn btn-danger btn-sm" onclick="removeAnswer(this)">
                                                        <i class="bi bi-trash"></i> Видалити відповідь
                                                    </button>
                                                </div>
                                                <div class="mt-2">
                                                    <label><strong>Фото до відповіді</strong></label>
                                                    <input type="file" onchange="convertFileToBase64(this, 'Questions[@i].Answers[@j].PhotoAnswerBase64')" class="form-control" />
                                                    <input type="hidden" name="Questions[@i].Answers[@j].PhotoAnswerBase64" value="@answer.PhotoAnswerBase64" />
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeQuestion(this)">
                                    <i class="bi bi-trash"></i> Видалити питання
                                </button>
                            </div>
                        }
                    }
                </div>


                <div class="mb-3">
                    <label asp-for="ShowCorrectAnswers" class="form-label"><strong>Показувати вірні відповіді?</strong></label>
                    <select asp-for="ShowCorrectAnswers" class="form-select border-primary">
                        <option value="true">Так</option>
                        <option value="false">Ні</option>
                    </select>
                    <span asp-validation-for="ShowCorrectAnswers" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ShowUserAnswers" class="form-label"><strong>Показувати відповіді користувачему?</strong></label>
                    <select asp-for="ShowUserAnswers" class="form-select border-primary">
                        <option value="true">Так</option>
                        <option value="false">Ні</option>
                    </select>
                    <span asp-validation-for="ShowUserAnswers" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="ShowContextPassage" class="form-label"><strong>Показувати змість під час проходження курса?</strong></label>
                    <select asp-for="ShowContextPassage" class="form-select border-primary">
                        <option value="true">Так</option>
                        <option value="false">Ні</option>
                    </select>
                    <span asp-validation-for="ShowContextPassage" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-lg">
                        <i class="bi bi-save"></i> Створити курс
                    </button>

                    <div class="text-center mt-4">
                        <a asp-action="Courses" asp-controller="Courses" class="btn btn-secondary">
                            <i class="bi bi-arrow-left"></i> Назад
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let questionIndex = 0;

    function addQuestion() {
        const container = document.getElementById('questions-container');
        const questionDiv = document.createElement('div');
        questionDiv.className = "border p-3 rounded mt-3";
        questionDiv.innerHTML = `
                                        <h4 class="text-secondary">Питання ${questionIndex + 1}</h4>
                                        <input type="text" name="Questions[${questionIndex}].Text" class="form-control mb-2" placeholder="Введіть питання" />
                                        <div class="mb-3">
                                            <label><strong>Фото до питання</strong></label>
                                            <input type="file" onchange="convertFileToBase64(this, 'Questions[${questionIndex}].PhotoQuestionBase64')" class="form-control" />
                                            <input type="hidden" name="Questions[${questionIndex}].PhotoQuestionBase64" />
                                            
                                        </div>
                                        <div class="answers-container">
                                            <h5>Відповіді</h5>
                                            <button type="button" class="btn btn-outline-secondary btn-sm" onclick="addAnswer(${questionIndex})">
                                                <i class="bi bi-plus-circle"></i> Додати відповідь
                                            </button>
                                            <div id="answers-${questionIndex}" class="mt-2"></div>
                                        </div>
                                        <button type="button" class="btn btn-danger btn-sm mt-2" onclick="removeQuestion(this)">
                                            <i class="bi bi-trash"></i> Видалити питання
                                        </button>
                                    `;
        container.appendChild(questionDiv);
        questionIndex++;
    }

    function addAnswer(questionIndex) {
        const answerContainer = document.getElementById(`answers-${questionIndex}`);
        const answerIndex = answerContainer.childElementCount;

        const answerDiv = document.createElement('div');
        answerDiv.className = "border p-2 rounded mt-2";
        answerDiv.innerHTML = `
                                        <div class="d-flex align-items-center gap-2">
                                            <input type="text" name="Questions[${questionIndex}].Answers[${answerIndex}].Text" class="form-control w-50" placeholder="Введіть відповідь" />
                                            <input type="checkbox" name="Questions[${questionIndex}].Answers[${answerIndex}].IsCorrect" value="true" class="form-check-input" />
                                            <label>Вірно</label>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="removeAnswer(this)">
                                                <i class="bi bi-trash"></i> Видалення відповіді
                                            </button>
                                        </div>
                                        <div class="mt-2">
                                            <label><strong>Фото до відповіді</strong></label>
                                            <input type="file" onchange="convertFileToBase64(this, 'Questions[${questionIndex}].Answers[${answerIndex}].PhotoAnswerBase64')" class="form-control" />
                                            <input type="hidden" name="Questions[${questionIndex}].Answers[${answerIndex}].PhotoAnswerBase64" />
                                             </div>
                                    `;
        answerContainer.appendChild(answerDiv);
    }

    function removeQuestion(button) {
        const questionDiv = button.parentElement;
        questionDiv.remove();
    }

    function removeAnswer(button) {
        const answerDiv = button.parentElement.parentElement;
        answerDiv.remove();
    }

  


    function convertFileToBase64(input, targetName) {
        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            const base64String = e.target.result.split(',')[1]; // Отримуємо лише Base64 без "data:image/jpeg;base64,"
            const hiddenInput = input.nextElementSibling; // Знаходимо прихований input для Base64
            hiddenInput.value = base64String;
            // Знаходимо або створюємо елемент img для попереднього перегляду
            let previewImg = input.parentElement.querySelector('.preview-image');
            if (!previewImg) {
                previewImg = document.createElement('img');
                previewImg.className = 'preview-image mt-2';
                previewImg.style.maxWidth = '100px';
                previewImg.style.maxHeight = '100px';
                input.parentElement.appendChild(previewImg);
            }

            // Встановлюємо src для попереднього перегляду
            previewImg.src = e.target.result;
        };

        if (file) {
            reader.readAsDataURL(file); // Читаємо файл
        }
    }

    function convertAlreadyFileToBase64(input, targetName) {
        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            const base64String = e.target.result.split(',')[1]; // Видаляємо "data:image/jpeg;base64,"
            const hiddenInput = document.querySelector(`input[name="${targetName}"]`);
            if (hiddenInput) {
                hiddenInput.value = base64String;
            }
            // Знаходимо або створюємо елемент img для попереднього перегляду
            let previewImg = input.parentElement.querySelector('.preview-image');
            if (!previewImg) {
                previewImg = document.createElement('img');
                previewImg.className = 'preview-image mt-2';
                previewImg.style.maxWidth = '100px';
                previewImg.style.maxHeight = '100px';
                input.parentElement.appendChild(previewImg);
            }

            // Встановлюємо src для попереднього перегляду
            previewImg.src = e.target.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    document.querySelector('form').onsubmit = function () {
        const checkboxes = document.querySelectorAll('input[type="checkbox"][name*="IsCorrect"]');
        checkboxes.forEach(function (checkbox) {
            if (!checkbox.checked) {
                checkbox.checked = true;
                checkbox.value = "false";
            }
        });
    };
</script>
