@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Деталі курсу";
}

<h2>@ViewBag.Cource.TitleCource</h2>

<p>@ViewBag.Cource.Description</p>

<h3>Вміст курсу:</h3>
<p>@ViewBag.ContentCourse</p>

<h3>Питання та відповіді:</h3>
@if (ViewBag.Questions != null )
{
    <ul>
        @foreach (var question in ViewBag.Questions)
        {
            <li>
                <strong>@question.Text</strong>
                <ul>
                    @foreach (var answer in question.Answers)
                    {
                        <li>
                            @answer.Text @if (answer.IsCorrect)
                            {
                                <span>(Правильна)</span>
                            }
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}
else
{
    <p>Питання не знайдено.</p>
}
