@using PlatformEducationWorkers.Core.Models;
@using PlatformEducationWorkers.Models.Questions

@{
    Layout = "~/Views/Shared/_LayoutWorker.cshtml";
    ViewBag.Title = "Take Course";
   // List<QuestionContextRequest> questionsCource = ViewBag.Questions ;
    var cource = ViewBag.Course as Cources;
}

<h2>Title of the course</h2>
<p>@cource.TitleCource</p>

<h2>Desctiption course</h2>
<p>@cource.Description</p>


@if (cource.ShowContextPassage)
{
    <h2>Course Content</h2>
    <p>@cource.ContentCourse</p>
}

<form asp-action="SaveResultCource" method="post">
    <input type="hidden" name="CourseId" value="@cource.Id" />





    @for (int i = 0; i < ViewBag.Questions.Count; i++)
    { 
   

        <div>
            <h4>@ViewBag.Questions[i].Text</h4>
            <input type="hidden" name="Questions[@i].Text" value="@ViewBag.Questions[i].Text" />@*+*@

            @for (int j = 0; j < ViewBag.Questions[i].Answers.Count; j++)
            {
                <div>
                    <label>
                        <input type="checkbox" name="Questions[@i].Answers[@j].IsSelected" value="true" />@*+*@
                        <input type="hidden" name="Questions[@i].Answers[@j].Text" value="@ViewBag.Questions[i].Answers[j].Text" />
                       
                        <input type="hidden" name="Questions[@i].Answers[@j].IsCorrectAnswer" value="@(ViewBag.Questions[i].Answers[j].IsCorrect.ToString().ToLower())" />

                       
                        @ViewBag.Questions[i].Answers[j].Text
                    </label>
                </div>

            }


        </div>
    } 

    <button type="submit">Submit</button>
</form>
