@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Деталі користувача";
    var user = ViewBag.User as PlatformEducationWorkers.Core.Models.User;
}

<h2>Деталі користувача</h2>

@if (user != null)
{
    <div>
        <p><strong>ID:</strong> @user.Id</p>
        <p><strong>Ім'я:</strong> @user.Name</p>
        <p><strong>Електронна пошта:</strong> @user.Email</p>
        <p><strong>Дата створення:</strong> @user.DateCreate.ToString("yyyy-MM-dd")</p>
        <p><strong>Роль:</strong> @user.Role</p>
        <p><strong>Посада:</strong> @user.JobTitle?.Name</p>
    </div>
}
else
{
    <p>Користувач не знайдений.</p>
}

<a asp-action="Index" asp-controller="Workers" asp-area="Administrator">Назад до списку користувачів</a>
